/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "aliases.h" //file contains aliases for most symbols for the danish language

/ {
    chosen { zmk,physical-layout = &foostan_corne_5col_layout; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  Å  |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  Æ  |  Ø  |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  | GUI | ALT |
            //                    | GUI | LWR | SPC |   | ENT | SPACE| ALT |

            display-name = "Base";
            bindings = <
&none  &kp Q  &kp W  &kp E      &kp R  &kp T        &kp Y    &kp U  &kp I          &kp O    &kp P         &none
&none  &kp A  &kp S  &kp D      &kp F  &kp G        &kp H    &kp J  &kp K          &kp L    &kp LBKT      &none
&none  &kp Z  &kp X  &kp C      &kp V  &kp B        &kp N    &kp M  &kp SEMI       &kp SQT  &kp KP_COMMA  &none
                     &sk LSHFT  &mo 2  &kp SPACE    &kp RET  &mo 1  &kp BACKSPACE
            >;
        };

        num_char {
            // -----------------------------------------------------------------------------------------
            // |   +  |  -  |  7  |  8  |  9  |  _  |       |  '  |  [  |  ]  |  /  |  |  |  \  |
            // |   *  |  ^  |  4  |  5  |  6  |  ~  |       |  "  |  {  |  }  |  !  |  @  |  #  |
            // |   ?  |  =  |  1  |  2  |  3  |  ¨  |       |  "  |  (  |  )  |  $  |  %  |  &  |
            //                    |  0  | BSPC| ESC |       | ENT |     |     |

            display-name = "Raise";
            bindings = <
&none  &kp PLUS         &kp MINUS      &kp ASTRK    &kp SLASH         &kp BACKSLASH        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp KP_NUMBER_7    &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none
&none  &kp EXCLAMATION  &kp QUESTION   &kp PIPE     &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp KP_NUMBER_4    &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none
&none  &kp EQUAL        &kp AMPERSAND  &kp AT_SIGN  &kp HASH          &kp PERCENT          &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp KP_NUMBER_1    &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none
                                       &kp TAB      &none             &kp SPACE            &kp RET               &kp N0                 &kp LC(BACKSPACE)
            >;
        };

        dir_char {
            // -----------------------------------------------------------------------------------------
            // |     | tab |     |arup |     |     |       |     |      | volup |     |    |    |
            // |     |lshft|arlft|ardwn|arght|     |       |     | home | volup | end |    |    |
            // |     |lctrl|     | copy|paste|     |       |     |      |       |     |    |    |
            //                   |     |     | ESC |       | ENT | space|       |

            display-name = "Lower";
            bindings = <
&none  &none     &kp UP    &none      &none  &none        &none    &none     &kp C_VOL_UP   &none    &none  &none
&none  &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none        &none    &kp HOME  &kp C_VOL_DN   &kp END  &none  &none
&none  &none     &none     &none      &none  &none        &none    &none     &none          &none    &none  &none
                           &none      &mo 2  &kp SPACE    &kp RET  &none     &kp BACKSPACE
            >;
        };
    };
};
